.vscode
appsettings.json

Backend/.vs

Backend/Monolith.API/.vs
Backend/Monolith.API/.idea
Backend/Monolith.API/.git
Backend/Monolith.API/bin
Backend/Monolith.API/obj

Backend/Monolith.DAL/bin
Backend/Monolith.DAL/obj

Backend/Monolith.Tests/bin
Backend/Monolith.Tests/obj


Frontend/Monolith-App/.sourcemaps
Frontend/Monolith-App/node_modules
Frontend/Monolith-App/www

Frontend/Monolith-SPA/dist
Frontend/Monolith-SPA/node_modules
Frontend/Monolith-SPA/.git
Frontend/Monolith-SPA/.gitignore

Frontend/Monolith.WPF/.vs
Frontend/Monolith.WPF/packages
Frontend/Monolith.WPF/src/Modules/Monolith.WPF.Modules.Overview/bin
Frontend/Monolith.WPF/src/Modules/Monolith.WPF.Modules.Overview/obj
Frontend/Monolith.WPF/src/Monolith.WPF.DAL/bin
Frontend/Monolith.WPF/src/Monolith.WPF.DAL/obj
Frontend/Monolith.WPF/src/Monolith.WPF.Infrastructure/bin
Frontend/Monolith.WPF/src/Monolith.WPF.Infrastructure/obj
Frontend/Monolith.WPF/src/Monolith.WPF.MigrationManager/bin
Frontend/Monolith.WPF/src/Monolith.WPF.MigrationManager/obj
Frontend/Monolith.WPF/src/Monolith.WPF.Shell/bin
Frontend/Monolith.WPF/src/Monolith.WPF.Shell/obj
Frontend/Monolith.WPF/src/Packages