<div class="row">
  <div class="col-lg-4">
    {{ product.name }}
  </div>
  <div class="col-lg-4">
    <div *ngIf="product.category.name == 'Drink'">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ product.size.name }}
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" (click)="setSize(1)">Small</a>
              <a class="dropdown-item" (click)="setSize(2)">Medium</a>
              <a class="dropdown-item" (click)="setSize(3)">Large</a>
            </div>
          </div>
    </div>
  </div>
  <div class="col-lg-2">
    <p class="text-right">
        {{ getPrice() | currency : "USD" }}
    </p>
  </div>
  <div class="col-lg-2">
    <button class="btn btn-danger btn-block" (click)="removeProduct()">
      -
    </button>
  </div>
</div>